* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Verdana;
}

header {
background-color: indigo;
padding-top: 10px;
}

header div {
margin-bottom: -3px;
}

header h2 {
text-transform: uppercase;
text-align: center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
color: gold;
padding: 2px;
border: 2px solid black;
background-image: linear-gradient(indigo, purple, indigo);
}

a {
color: gold;
}

a:hover {
color: yellow;
}

nav {
position: absolute;
right: 5px;
display: inline-block;
}

nav a {
text-align: center;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
text-decoration: none;
text-transform: uppercase;
font-weight: bold;
background-image: linear-gradient(indigo, purple, indigo);
border: 2px solid gold;
border-radius: 5px;
padding: 2px 15px;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

nav a[href="#"] {
background-image: linear-gradient(indigo, violet, indigo);
}

h1 {
font-style: italic;
font-weight: normal;
background-image: url("../img/header.png");
background-repeat: no-repeat;
background-size: contain;
user-select: none;           /* Impide la selección de texto */
color: rgba(0, 0, 0, 0);     /* Texto transparente */
margin: 0px 10px 10px 10px;
}

h3 {
font-style: italic;
}

h4 {
margin: 5px 0px;
}

img {
max-width: 100%;
}

main div{
display: inline-block;
}

body {
background-color: indigo;
}

.leftcol img {
width: 100%;
border: 2px solid gold;
border-radius: 10px;
margin-bottom: 10px;
background-image: linear-gradient(purple, indigo);
}

.leftcol {
width: 20%;
margin: 10px 0px 0px 10px;
}

.rightcol {
padding: 20px;
position: absolute;
margin: 10px 10px 20px 10px;
background-color: rgba(255,255,255,0.3);
border: 2px solid gold;
border-radius: 10px;
}

.separator {
height: 10px;
background-color: gold;
}

.headerimg {
content: url(../img/design2_image1.jpg);
}