* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

header {
    background-color: transparent;
    padding-top: 10px;
}

header h2 {
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: gold;
    padding: 2px;
    border: 2px solid black;
    background-image: linear-gradient(indigo, darkslateblue, indigo);
}

a {
    color: gold;
}

a:hover {
    color: yellow;
}

.container-flex {
    display: flex;
    object-fit: contain;
}

.nav-flex {
    display: flex;
    justify-content: flex-end;
}

nav {
    flex-wrap: wrap;
    display: flex;
    margin-bottom: -20px;
    z-index: 1;
    gap: 2px;
}

nav a {
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(indigo, darkslateblue, indigo);
    border: 2px solid gold;
    border-radius: 5px;
    padding: 2px 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

nav a[href="#"] {
    background-image: linear-gradient(darkslateblue, royalblue, darkslateblue);
    border: 2px solid yellow;
    color: yellow;
}

h1 {
    font-style: italic;
    font-weight: normal;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none; /* Impide la selección de texto */
    color: rgba(0, 0, 0, 0); /* Texto transparente */
    margin: 0px 10px 10px 10px;
}

h3 {
    font-style: italic;
}

h4 {
    margin: 5px 0px;
}

img {
    max-width: 100%;
}

main,
main>div {
    display: flex;
    margin-bottom: 10px;
}

.row {
    flex-direction: row;
}

body {
    background-color: darkslateblue;
    height: 100vh;
}

.leftcol img {
    width: 100%;
}

.playerimg {
    margin-bottom: 20px;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
}

.leftcol {
    min-width: 100px;
    max-width: 15vw;
    margin: 10px 0px 0px 10px;
    flex-direction: column;
    border: 2px solid gold;
    border-radius: 10px;
    background-image: linear-gradient(transparent, indigo);
}

.rightcol {
    padding: 20px;
    margin: 10px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid gold;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.separator {
    height: 5px;
    background-color: gold;
}

.headerimg {
    content: url(../img/design2_image1.jpg);
}

.schedule tr td,
.schedule tr th {
    border: 2px solid darkslateblue;
    padding: 10px;
    text-align: center;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.roman {
    font-weight: normal;
}